body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #f9f9f9;
}
header{
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
.menu_burguer{
    
    height: 8vh;
    width: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu_burguer img{
    height: 30px;
    width: 30px;
}
.porsche_title{
    margin-left: 180px;
    height: 11vh;
    width: 19vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.porsche_title img{
    height: 250px;
    width: 250px;
}
.user_content{
    height: 10vh;
    width: 15vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.profile_icon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile_icon img{
    height: 50px;
    width: 50px;
}
.localization{
    height: 50px;
    width: 200px;
    font-size: 17px;
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.localization img{
    height: 20px;
    width: 20px;
}


main{
    height: 80vh;
    width: 100vw;
   
}
.faixa{
    width: 100vw;
    height: 10vh;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.div-faixa{
    height: 20px;
    width: 10vw;
    font-size: 17px;
    gap: 10px;
    display: flex;
    align-items: center;
}
.div-faixa img{
    height: 30px;
}
h1{
    font-size: 56px;
}
.navegadores{
    height: 80px;
    width: 100%;
    margin-top: 20vh;
    display: flex;
    justify-content: space-between;
}
.car{
    position: absolute;
    left: 10vw;
    bottom: 5vw;
    z-index: -1;
}
.car img{
    height: 900px;
}


footer{
    background-color: rgb(184, 237, 239);
    height: 20vh;
    width: 100vw;
}